.gradient {
    margin: 0;
    padding: 0;
    list-style: none;

    @for $i from 0 to 10 {
        li:nth-child(#{$i+1}) {
            padding: 4px;
            background-color: darken($color: lightblue, $amount: $i * 3%);
        }
    }
}