.main {
    .container & {
        background-color: lightblue;
    }

    &:hover {
        background-color: salmon;
    }
    
    & &-heading {
        font-size: 2em;
    }

    & &-paragraph {
        font-size: 1.4em;
    }
}

.footer {
    & &-heading {
        font-size: 1.4em;
    }

    & &-paragraph {
        font-size: 1em;
    }
}

.main, footer {
    h1, p {
        letter-spacing: 1px;
    }
}